<h1>My Videos</h1>
<% @videos.each do |video| %>
  <%= video.name %>
  <%= video.description %>
  <%= video.path %>
  <%= video_tag(video.file.url, :size => "320x240", :controls => true, :autobuffer => true) %>
<% end %>

<%= form_for @video, url: videos_path(@video) do |f| %>
  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :description %><br />
  <%= f.text_field :description %></div>

  <div><%= f.label :path %><br />
  <%= f.text_field :path %></div>

  <div><%= f.file_field :file %></div>

  <%= f.submit "Create Profile", class: "btn btn-success" %>
<% end %>