<div class="header">
  <h1 class='pull-left'>My Videos</h1>
  <p class="pull-right">Where I share my videos...</p>
</div>

<div class='container'>
  <div class="row">
    <% flash.each do |key, msg| %>
      <div class="alert alert-<%= key %>">
        <%= msg %>
    <% end %>
    <% @videos.each do |video| %>
      <div class='video-card pull-left'>
        <p class='video-name text-center'><%= video.name %></p>

        <% if video.valid? %>
          <%= video_tag(video.file.url, :size => '320x180', :controls => true,
              :autobuffer => true, :class => 'video')
          %>
        <% else %>
          <%= image_tag('doh.jpg', :size => '320x165', :class => 'video') %>
          <p class='text-center'>Unable to load the video</p>
        <% end %>

        <p class="video-description"><%= video.description %></p>
        <%= link_to 'Delete Video', video_path(video), :class => 'btn btn-danger',
            :id => 'delete', data: {method: 'delete', confirm: 'Are you sure?'}
        %>

      </div>
    <% end %>
  </div>

  <div class="upload-form">
    <h4>Upload a new video</h4>
    <%= form_for @video, url: videos_path(@video) do |f| %>
      <div><%= f.label :name %><br />
      <%= f.text_field :name %></div>

      <div><%= f.label :description %><br />
      <%= f.text_field :description %></div>

      <div><%= f.label :video %><br />
      <div class='choose-file'><%= f.file_field :file, id: 'post_file' %></div>

      <%= f.submit 'Save My Video', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
