<h1>My Videos</h1>
<% @videos.each do |video| %>
  <%= video.name %>
  <%= video.description %>

  <% if video.valid? %>
    <%= video_tag(video.file.url, :size => "320x240", :controls => true, :autobuffer => true) %>
  <% else %>
    <%= image_tag("doh.jpg", :size => "320x200") %>
    <p>Unable to load the video</p>
  <% end %>

  <%= link_to "Delete Video", video_path(video), :class => "btn btn-danger", data: {method: "delete", confirm: "Are you sure?"} %>
<% end %>

<%= form_for @video, url: videos_path(@video) do |f| %>
  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :description %><br />
  <%= f.text_field :description %></div>

  <div><%= f.file_field :file %></div>

  <%= f.submit "Save My Video", class: "btn btn-success" %>
<% end %>
